.App {
  box-sizing: border-box;
}


.header {
  height: 192px;
  border: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  div {
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 82px;
    color: #5C48D3;
    margin: 1.5rem;
  }

  h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 192px;
  }

  .dark-mode {
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  .dark-mode:hover {
    opacity: 0.7;
  }
  
}

.main-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.tasks {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  input{}
  input[type=checkbox]:focus {
    background: #5C48D3;
  }
  button {
    background:none;
    border: none;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.7;
  }
  .trash {
    color: #5C48D3;
  }
}
.add-task {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 271px;
    height: 30px;
    background: #F2F7FD;
    border: 1px solid #5C48D3;
    border-radius: 10px;
    margin-right: 28px;
  }
  button {
    height: 32px;
    background: #5C48D3;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.7;
  }
}

.footer {
   text-align: center;
   line-height: 50px;
   span {
     font-weight: bold;
   }
}



@media(max-width: 650px) {
  .header {
    height: 132px;

    .icon {
      font-size: 55px;
      margin: 1.5rem;
    }
  
    h1 {
      font-size: 38px;
    }
  
  }

  .add-task { 
    input {
      width: 230px;
    }
  }
}

@media(max-width: 400px) {
  .header {
    height: 80px;
    padding: 4px;
  
    .icon {
      font-size: 35px;
      margin: 1rem;
    }
  
    h1 {
      font-size: 28px;
      line-height: 100px;
    }
  
    .dark-mode {
      margin-right: 10px;
      font-size: 25px;
    }    
  }

  .main-container {
    height: 70vh;
  
  }

  .add-task {
  
    input {
      width: 160px;
      margin-right: 18px;
    }
  }
}